# uv run theseus submit test_gpt ./configs/gpt.yaml -p playground --mem 64G

architecture:
  n_embd: 128
  n_layers: 8
  bias: true
  dropout: 0.0
  n_head: 16
  rope: true
  block_size: 512
  vocab_size: 100288
  vram_calib_factor: 1.0
eval:
  evaluations: []
optimization:
  weight_decay: 0.1
  beta1: 0.9
  beta2: 0.95
  lr: 0.0003
training:
  batch_size: 512
  per_device_batch_size: 4
  tokens: 1000000000
  warmup_pct: 0.01
  decay_pct: 0.1
  validation: true
  evaluate: false
  dataset:
  - name: fineweb
    rate: 1.0
    style: PMD
    suffix: ''
  validation_steps: 2048
logging:
  report_interval: 32
  checkpoint_interval: 16384
  validation_interval: 2048
  wandb: false
job: gpt/train/pretrain
request:
  chip: a6000
  min_chips: 1
